@model dotnet.Models.Book
    @{
    ViewData["Title"]="New";
  }

  
<div class="card mt-5 col-8  mx-auto">
    <div class="card-header">
        <div class="card-title mb-0">Add Info of books</div>
    </div>
    <div class="card-body">
        <form asp-controller="Book" asp-action="New" method="post">
            
            <div class="form-group">
                <label asp-for="BookName"></label>
                <input type="text" asp-for="BookName" class="form-control form-control-sm">
            </div>
            <div class="form-group">
                <label asp-for="Code"></label>
                <input type="text" asp-for="Code" class="form-control form-control-sm">
            </div>
           
            <div class="btn-group">
                <button class="btn btn-sm btn-success" type="submit">&nbsp;Save</button>
            </div>
        </form>
    </div>
</div>